---
layout: default
---

{% include heading.html text="Featured Links" %}

{% include button.html text="My Website" image="images/Website.png" url="https://shubhro-jyoti-dey.github.io/" %}
{% include button.html text="Portfolio" image="images/Pencil.png" url="https://shubhro-jyoti-dey.github.io/portfolio/" %}
{% include button.html text="Resources" image="images/Mail.png" url="https://shubhro-jyoti-dey.github.io/Resources/" %}
{% include button.html text="Photography" image="images/Cart.png" url="https://unsplash.com/@shubhro_/" %}
{% include button.html text="What I'm Doing Now" image="images/Clock.png" url="https://read.cv/shubhrojyotidey/" %}

{% include heading.html text="Other Links" %}

{% include button.html text="Blog" image="images/Pen.png" url="https://shubhro-jyoti-dey.github.io/notes" %}
{% include button.html text="Book Notes" image="images/Books.png" url="https://vyshnav.xyz/book-notes/" %}
{% include button.html text="Notion Products" image="images/Store.png" url="https://vyshnav.xyz/blog/tags#notion" %}
{% include button.html text="Blender Store" image="images/3D.png" url="https://vyshnav.xyz/resources/#blender-files" %}
